<div class="flex flex-col justify-around">
  <!-- Datapicker -->
  <div class="flex justify-end gap-4">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-datapicker></app-datapicker>
    </div>
    <!-- Dropdown/Select -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-select-filter [dropdownOptions]="dropdownOptions"
        (selectedOption)="onOptionSelected($event)"></app-select-filter>
    </div>
  </div>
  <!-- Tabela  -->
  <app-table [tableName]="'Reservas'" [tableData]="filteredReserva"></app-table>
  <script src="node_modules/@govbr-ds/core/dist/core.min.js"></script>
</div>

<div class="fixed h-full w-full inset-0 bg-black bg-opacity-50 z-[999]" *ngIf="isModalOpen"></div>
<div class="w-2/3 fixed top-5 transform bg-white p-5 shadow-md z-[1000]" *ngIf="isModalOpen">
  <button class="absolute top-2 right-2 bg-transparent border-none text-xl cursor-pointer" (click)="fecharModalScheduleForm()">X</button>
  <app-schedule-form></app-schedule-form>
</div>