.header{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    border-bottom: 1.5px solid #555555;
}

.header h1{
   margin-left: 10px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

