<div class="flex flex-col justify-around">
  <!-- Datapicker -->
  <div class="flex justify-end gap-4">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="br-datetimepicker" data-mode="single" data-type="text">
        <div class="br-input has-icon">
          <input id="simples-input" type="text" placeholder="exemplo: 02/02/2024" data-input="data-input" />
          <button class="br-button circle small" type="button" aria-label="Abrir Timepicker" data-toggle="data-toggle"
            id="simples-input-btn" tabindex="-1" aria-hidden="true">
            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Dropdown/Select -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="br-select">
        <div class="br-input">
          <input id="select-simple" type="text" [value]="selectedLabel" placeholder="Selecione o Campus para filtrar"
            readonly />
          <button class="br-button" type="button" aria-label="Exibir lista" (click)="toggleDropdown()" tabindex="-1"
            data-trigger="data-trigger">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </button>
        </div>
        <div [ngClass]="{'hidden': !isDropdownOpen}" style="position: absolute;z-index: 1000;" tabindex="0">
          <div class="br-item" tabindex="-1" *ngFor="let option of dropdownOptions"
            (click)="onDropdownChange(option.value)">
            <div class="br-radio">
              <input [id]="option.id" type="radio" name="actions" [value]="option.value"
                [checked]="selectedCampus === option.value" />
              <label [for]="option.id">{{ option.label }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tabela  -->
  <div title="Reservas">
    <div class="table-header">
      <div class="top-bar">
        <h3 class="table-title">Reservas</h3>
      </div>
    </div>
    <div class="tabela-horarios">
      <table>
        <thead>
          <th class="border-right text-center" scope="col">Horários</th>
          <th class="border-right text-center" scope="col">Ginásio</th>
          <th class="border-right text-center" scope="col">Campus</th>
          <th class="border-right text-center" scope="col">Responsável</th>
          <th class="border-right text-center" scope="col">Curso</th>
          <th class="text-center" scope="col">Disponibilidade</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of filteredReserva">
            <td class="text-center">{{ row.horario }}</td>
            <td class="text-center">{{ row.nome }}</td>
            <td class="text-center">{{ row.campus }}</td>
            <td class="text-center">{{ row.resposavel }}</td>
            <td class="text-center">{{ row.curso }}</td>
            <td class="text-center">
              <button class="br-button primary" type="button" aria-label="Controle Reserva"
                routerLink="/reservas/criar-reserva">{{ row.disponibilidade }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="node_modules/@govbr-ds/core/dist/core.min.js"></script>
</div>