<nav class="flex flex-col bg-white text-center p-0 m-0">
    <div class="border-b border-black">
        <button routerLink="reservas" class="w-full h-max p-2 text-left pl-4">
            Reservas
        </button>
    </div>
    <div class="border-b border-black">
        <button routerLink="minhas-reservas" class="w-full h-max p-2 text-left pl-4">
            Minhas Reservas
        </button>
    </div>
    <div class="border-b border-black">
        <button routerLink="configuracoes" class="w-full h-max p-2 text-left pl-4">
            Configurações
        </button>
    </div>
 </nav>
      
