<nav class="menu">
    <div class="item">
        <button routerLink="/reservas" routerLinkActive="active">
            <h5>Reservas</h5>
        </button>
    </div>    
    <div class="item">
        <button routerLink="/minhas-reservas" routerLinkActive="active">
            <h5>Minhas Reservas</h5>
        </button>
    </div>
    <div class="item">
        <button routerLink="/configuracoes" routerLinkActive="active">
            <h5>Configurações</h5>
        </button>
    </div>    
</nav>
