<div class="flex flex-col justify-around">
    <h2 class="text-bold">Configurações</h2>
    <div class="br-tab small">
        <nav class="tab-nav">
          <ul>
            <li class="tab-item" [class.active]="ShowGeral.valueOf()"  title="Geral">
              <button type="button" (click)="onTabSelect('ShowGeral')"><span class="name">Geral</span></button>
            </li>
            <li class="tab-item" [class.active]="ShowEspaco.valueOf()"  title="Espaços Esportivos">
              <button type="button" (click)="onTabSelect('ShowEspaco')" ><span class="name">Espaços Esportivos</span></button>
            </li>
            <li class="tab-item" [class.active]="ShowPermissao.valueOf()"  title="Permissões">
              <button type="button" (click)="onTabSelect('ShowPermissao')" ><span class="name">Permissões</span></button>
            </li>
          </ul>
        </nav>
    </div>

        <div *ngIf="ShowGeral.valueOf()" class="flex flex-col">
            <h3>Agendamentos</h3>
            <app-slider [value]="360"  [min]="60" [max]="1440" [step]="60" title="Antecedência Agendamentos"></app-slider>
            <app-slider [value]="120" [min]="30" [max]="240" [step]="30" title="Limite Agendamentos"></app-slider>
      <!-- Datapicker -->
        <div class="flex justify-end gap-4">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <app-datapicker></app-datapicker>
            </div>
        <!-- Dropdown/Select -->
        <div class="col-sm-6 col-md-4 col-lg-3">
          <app-select-filter [dropdownOptions]="dropdownOptionsCampus" (selectedOption)="onOptionSelected($event)"></app-select-filter>
        </div>
      </div>
      <!-- Tabela  -->
      <app-table class="mb-5" [tableName]="'Gestão Reservas'" [tableData]="filteredReserva"></app-table>

        </div>

        <div *ngIf="ShowEspaco.valueOf()" class="flex flex-col">
          <h3>Espaços Esportivos</h3>
            <div class="flex justify-end">
              <div class="mr-2">
                <button class="br-button primary" type="button" aria-label="Controle Reserva">
                Criar Ginásio</button>
              </div>
              <div class="mr-2">
                <button class="br-button primary" type="button" aria-label="Controle Reserva">
                Criar Campus</button>
              </div>

              <div class="col-sm-6 col-md-4 col-lg-3">
                <app-select-filter [placeholder]="'Selecione um tipo'" [dropdownOptions]="dropdownOptionsTypeUsers" (selectedOption)="onOptionSelected($event)"></app-select-filter>
              </div>
            </div>
  
          <!-- Tabela  -->
          <app-table-espacos class="mb-5" [tableName]="'Gestão Espaços Esportivos'" [tableData]="espacos"></app-table-espacos>
        </div>

        <div *ngIf="ShowPermissao.valueOf()"  class="flex flex-col">
          <h3>Permissões</h3>
          <!-- Dropdown/Select -->
          <div class="flex justify-end gap-4">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <app-select-filter [placeholder]="'Selecione um tipo'" [dropdownOptions]="dropdownOptionsTypeUsers" (selectedOption)="onOptionSelected($event)"></app-select-filter>
            </div>
          </div>

        <!-- Tabela  -->
        <app-table-users class="mb-5" [tableName]="'Gestão Usuários'" [tableData]="users"></app-table-users>

        </div>
</div>
