<div class="container mt-4">
    <h2>Reserva de horário</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Linha 1: Campus e Ginásio -->
        <div class="row">
            <div class="col-sm-6 mb-3">
                <app-dropdownn field="Campus (Obrigatório)" [dropdownOptions]="CampusOptions"
                    (selectedOption)="onCampusSelected($event)"></app-dropdownn>
            </div>
            <div class="col-sm-6 mb-3">
                <app-dropdownn field="Ginásio (Obrigatório)" [dropdownOptions]="GinasioOptions"
                    (selectedOption)="onGinasioSelected($event)"></app-dropdownn>
            </div>
        </div>

        <!-- Linha 2: Horário -->
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="br-datetimepicker" data-mode="single" data-type="datetime-local">
                    <div class="br-input has-icon"
                        [class.invalid]="scheduleForm.get('horario')?.invalid && scheduleForm.get('horario')?.touched">
                        <label for="dateandtime-input">Horário</label>
                        <input id="dateandtime-input" type="datetime-local" placeholder="Selecione um horário"
                            formControlName="horario" />
                    </div>
                    <div *ngIf="scheduleForm.get('horario')?.invalid && scheduleForm.get('horario')?.touched"
                        class="feedback danger">
                        {{ getErrorMessage('horario') }}
                    </div>
                </div>
                <div class="form-check mt-2">
                    <input type="checkbox" id="horarioRepetido" class="form-check-input"
                        (click)="onHorarioRecorrente()" />
                    <label for="horarioRepetido" class="form-check-label">Horário Semanal Recorrente</label>
                </div>

                <!-- Campos adicionais para recorrência -->
                <div *ngIf="!horarioRecorrente" class="mt-3">
                    <span class="time-label" style="font-weight: bold;">Termina em</span>
                    <div class="row" style="margin-top: 14px;">
                        <div class="col-sm-12 mb-2">
                            <div class="br-radio">
                                <input type="radio" id="terminaNunca" name="terminaEm" value="nunca"
                                    formControlName="terminaEm" class="br-radio-input" />
                                <label for="terminaNunca" class="br-radio-label">Nunca</label>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="br-radio">
                                <input type="radio" id="terminaEm" name="terminaEm" value="data"
                                    formControlName="terminaEm" class="br-radio-input" />
                                <label for="terminaEm" class="br-radio-label">Em</label>
                                <div class="br-input has-icon">
                                    <input id="dateandtime-input" type="date" placeholder="Selecione um horário"
                                        formControlName="dataTermino" class="br-input" />
                                    <button class="br-button circle small" type="button" aria-label="Abrir calendário">
                                        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="br-radio">
                                <input type="radio" id="terminaApos" name="terminaEm" value="ocorrencias"
                                    formControlName="terminaEm" class="br-radio-input" />
                                <label for="terminaApos" class="br-radio-label">Após</label>
                                <div class="br-input">
                                    <input type="number" class="br-input" formControlName="ocorrencias"
                                        placeholder="10 ocorrências" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Linha 3: Responsável -->
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="br-input large input-button"
                    [class.invalid]="scheduleForm.get('responsavel')?.invalid && scheduleForm.get('responsavel')?.touched">
                    <label for="input-search-responsavel">Responsável (Obrigatório)</label>
                    <input id="input-search-responsavel" type="search" placeholder="Digite o nome do responsável"
                        formControlName="responsavel" />
                    <button class="br-button" type="button" aria-label="Buscar">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div *ngIf="scheduleForm.get('responsavel')?.invalid && scheduleForm.get('responsavel')?.touched"
                    class="feedback danger">
                    {{ getErrorMessage('responsavel') }}
                </div>
            </div>
        </div>

        <!-- Linha 4: Curso e Matrícula -->
        <div class="row">
            <div class="col-sm-6 mb-3">
                <div class="br-input">
                    <label for="curso">Curso</label>
                    <input id="curso" type="text" formControlName="curso"
                        placeholder="Preenchido automaticamente ao selecionar o responsável" />
                </div>
                <div *ngIf="scheduleForm.get('curso')?.invalid && scheduleForm.get('curso')?.touched"
                    class="feedback danger">
                    {{ getErrorMessage('curso') }}
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="br-input">
                    <label for="matricula">Matrícula</label>
                    <input id="matricula" type="text" formControlName="matricula"
                        placeholder="Preenchido automaticamente ao selecionar o responsável"
                        [class.invalid]="scheduleForm.get('matricula')?.invalid && scheduleForm.get('matricula')?.touched" />
                </div>
                <div *ngIf="scheduleForm.get('matricula')?.invalid && scheduleForm.get('matricula')?.touched"
                    class="feedback danger">
                    {{ getErrorMessage('matricula') }}
                </div>
            </div>
        </div>

        <!-- Linha 5: Telefone -->
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="br-input"
                    [class.invalid]="scheduleForm.get('telefone')?.invalid && scheduleForm.get('telefone')?.touched">
                    <label for="telefone">Telefone</label>
                    <input id="telefone" type="text" formControlName="telefone" placeholder="Digite o telefone" />
                    <div *ngIf="scheduleForm.get('telefone')?.invalid && scheduleForm.get('telefone')?.touched"
                        class="feedback danger">
                        {{ getErrorMessage('telefone') }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Linha 6: Quantidade de Pessoas -->
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="br-input"
                    [class.invalid]="scheduleForm.get('quantidade')?.invalid && scheduleForm.get('quantidade')?.touched">
                    <label for="quantidade">Quantidade de Pessoas (Obrigatório)</label>
                    <input id="quantidade" type="number" formControlName="quantidade" placeholder="Ex.: 11" />
                    <div *ngIf="scheduleForm.get('quantidade')?.invalid && scheduleForm.get('quantidade')?.touched"
                        class="feedback danger">
                        {{ getErrorMessage('quantidade') }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Botões -->
        <div class="row mt-4">
            <div class="col-sm-12 d-flex justify-content-between gap-3">
                <button type="button" class="br-button danger" style="background-color: red; color: white;">Cancelar
                    reserva</button>
                <div>
                    <button type="button" class="br-button secondary">Cancelar</button>
                    <button type="submit" class="br-button primary" [disabled]="scheduleForm.invalid">Reservar
                        horário</button>
                </div>
            </div>
        </div>
    </form>
</div>