<!-- Tabela  -->
<div title="{{tableName}}">
    <div class="table-header">
      <div class="top-bar">
        <h3 class="table-title">{{tableName}}</h3>
      </div>
    </div>
    <div class="tabela-horarios">
      <table>
        <thead>
          <th class="border-right text-center" scope="col">Nome</th>
          <th class="border-right text-center" scope="col">Campus</th>
          <th class="border-right text-center" scope="col">Funcionamento</th>
          <th class="border-right text-center" scope="col">Disponiblidade</th>
          <th class="text-center" scope="col">Apagar</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td class="text-center">{{ row.name }}</td>
            <td class="text-center">{{ row.campus }}</td>
            <td class="text-center">{{ row.horario_abertura }} - {{row.horario_fechamento}}</td>
            <td class="text-center">{{ row.disponibilidade }}</td>
            <td class="text-center">
              <button class="br-button primary" type="button" aria-label="Controle Espaços Esportivos"
                (click)="onDisponivelClick(row)">
                Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
