  <!-- Tabela  -->
  <div title="{{tableName}}">
    <div class="table-header">
      <div class="top-bar">
        <h3 class="table-title">{{tableName}}</h3>
      </div>
    </div>
    <div class="tabela-horarios">
      <table>
        <thead>
          <th class="border-right text-center" scope="col">Horários</th>
          <th class="border-right text-center" scope="col">Ginásio</th>
          <th class="border-right text-center" scope="col">Campus</th>
          <th class="border-right text-center" scope="col">Responsável</th>
          <th class="border-right text-center" scope="col">Curso</th>
          <th class="text-center" scope="col">Disponibilidade</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
            <td class="text-center">{{ row.horario }}</td>
            <td class="text-center">{{ row.nome }}</td>
            <td class="text-center">{{ row.campus }}</td>
            <td class="text-center">{{ row.resposavel }}</td>
            <td class="text-center">{{ row.curso }}</td>
            <td class="text-center">
              <button class="br-button primary" type="button" aria-label="Controle Reserva"
                routerLink="/reservas/criar-reserva">{{ row.disponibilidade }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>